:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  
}

.v-main{
  --v-layout-top: 0px;
}

.v-table--density-default{
  --v-table-row-height:36px
}

@media (min-width: 1280px){
  .v-container{
    max-width: 100%;
  }
  
}